{% set git = salt['grains.filter_by']({
    'RedHat': {
        'git': 'git',
    },
    'Debian': {
        'git': 'git',
    },
    'Solaris': {
        'git': 'git',
    },
    'Gentoo': {
        'git': 'dev-vcs/git',
    },
}, merge=salt['pillar.get']('git:lookup')) %}

{% set map = { 'vim_repo': 'https://github.com/Abukamel/vim_server.git', 'vundle_repo': 'https://github.com/gmarik/Vundle.vim.git', 'vundle_target': salt.cmd.run('echo ~/vim_server/.vim/bundle/Vundle.vim'), 'vim_repo_target': salt.cmd.run('echo ~/vim_server'), 'plugin_install_cmd': 'vim +PluginInstall +qall' } %}

